.message
{
	border-bottom: 1px solid $main-color2;
	.user-id
	{
		color: $main-color;
    	padding: 0.5rem 0;
    	&:after
    	{
    		content:':';
    		display:inline;
    		vertical-align: middle;
    	}
	}
    .user-txt
    {
        background-color: $main-color;
        color:$white-color;
        padding: 0.5em 1em;
        font-size: 1.5rem;
        @include border-radius(50px);
    }
}